#whole-wrap{
    margin:1%;
  }s

#tweet_container {
	background-color: white;
	padding: 10px;
	min-height: 300px;
	width: 300px;
	margin-left: 200px;
	margin-top: 30px;
	float: left;
}
#profileInfo {
	background-color: white;
	padding: 10px;
	min-height: 300px;
	width: 300px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

#timeline {
	border-radius: 10px;
	background-color: white;
	width: 600px;
	margin-left: 390px;
	margin-top: 20px;
}

.timelineHeader {
	border-bottom: 1px solid grey;
}

.tweet {
	background-color: white;
	min-height: 100px;
	overflow: auto;
	border-bottom: 1px solid grey;
}

.tweetContent {
	margin: 0px;
	width: 520px;
	float: left;
}


.tweetContentPicture {
	max-width: 500px;
}